.svn
obj
*.dll
*.exe
*.chm
*.o
*.a
*.lib
*.mp3
*.ogg
*.flac
*.aac
*.mod
*.xm
*.it
*.zip
*.gz
*.dat
*.sf2
*.mid
*.miz
*.s3m
*.mo3
*.nsf
*.m3u
*.pls
*.gid
*.hlp
*.1
*.2
*.3
*.4
*.5
*.dl2
*.dl3
*.dl4
test*
*copie*.*
*old*
*temp*
*tmp*
out*.txt
err*.txt
bass-addon.h