#include "consts.h"
#include<windows.h>
#include<winver.h>
#include<commctrl.h>

"accel" ACCELERATORS
BEGIN
VK_F11, IDM_VOLMINUS, VIRTKEY
VK_F12, IDM_VOLPLUS, VIRTKEY
VK_F12, IDM_SEEK_RIGHT, SHIFT, VIRTKEY
VK_F11, IDM_SEEK_LEFT, SHIFT, VIRTKEY
"^O", IDM_OPEN
"^O", IDM_OPENAPPEND, SHIFT
"^U", IDM_OPENURL
"^U", IDM_OPENURLAPPEND, SHIFT
"^D", IDM_OPENDIR
"^D", IDM_OPENDIRAPPEND, SHIFT
"^S", IDM_ENCODE
"^S", IDM_SAVEPLAYLIST, SHIFT
80, IDM_SHOWPLAYLIST, ALT, VIRTKEY
82, IDM_RADIO, ALT, VIRTKEY
VK_F3, IDM_SHOWINFO, VIRTKEY
51, IDM_SHOWINFO, ALT, VIRTKEY
"^J", IDM_GOTOTIME
"^X", IDM_INDEXPLAYLIST, SHIFT
"^W", IDM_CAST, SHIFT
"^P", IDM_OPTIONS
VK_F6, IDM_OPTIONS_DEVICES, VIRTKEY
VK_F4, IDM_RECORD, VIRTKEY
77, IDM_SHOWMIDI, ALT, VIRTKEY
VK_F2, IDM_DEBUG, VIRTKEY
END

"menu" MENU
BEGIN
POPUP MSG_FILEMENU
BEGIN
MENUITEM MSG_FILEOPEN, IDM_OPEN
MENUITEM MSG_FILEOPENURL, IDM_OPENURL
MENUITEM MSG_FILEOPENAPPEND, IDM_OPENAPPEND
MENUITEM MSG_FILEOPENURLAPPEND, IDM_OPENURLAPPEND
MENUITEM MSG_FILEOPENDIR, IDM_OPENDIR
MENUITEM MSG_FILEOPENDIRAPPEND, IDM_OPENDIRAPPEND
MENUITEM MSG_FILEOPENRADIO, IDM_RADIO
MENUITEM MSG_FILESAVE, IDM_ENCODE
MENUITEM MSG_FILEINFO4, IDM_SHOWINFO
MENUITEM MSG_FILEOPTIONS, IDM_OPTIONS
MENUITEM MSG_FILEQUIT, IDM_QUIT
END
POPUP MSG_LECTMENU
BEGIN
MENUITEM MSG_LECTPAUSE, IDM_PAUSE
MENUITEM MSG_LECTPREV, IDM_PREV
MENUITEM MSG_LECTNEXT, IDM_NEXT
MENUITEM MSG_LECTGOTOTIME, IDM_GOTOTIME
MENUITEM MSG_MIDIDLG_TOGGLE, IDM_SHOWMIDI
MENUITEM MSG_CASTING, IDM_CAST
MENUITEM MSG_RECORD_TOGGLE, IDM_RECORD
MENUITEM MSG_LECTLOOP, IDM_LOOP
MENUITEM MSG_LECTRAND, IDM_RANDOM
MENUITEM MSG_LECTREVERSE, IDM_REVERSE
MENUITEM MSG_LECTINTRO, IDM_INTRO_MODE
MENUITEM MSG_LECTFADE, IDM_CROSSFADE
MENUITEM MSG_LECTDEV, IDM_OPTIONS_DEVICES
END
POPUP MSG_PLISTMENU
BEGIN
MENUITEM MSG_PLMSHOWPLAYLIST, IDM_SHOWPLAYLIST
MENUITEM MSG_LECTSAVE, IDM_SAVEPLAYLIST
MENUITEM MSG_INDEXPLAYLIST, IDM_INDEXPLAYLIST
POPUP MSG_FILESAVEALL
BEGIN
MENUITEM "", 0
END
MENUITEM MSG_LECTPREV, IDM_PREV
MENUITEM MSG_LECTNEXT, IDM_NEXT
MENUITEM MSG_PLMDELSONG, IDM_DELCURSONG
END
POPUP MSG_EFFECTSMENU
BEGIN
POPUP MSG_EFF_MODE
BEGIN
MENUITEM MSG_EFF_MODE1, IDM_EFF_MODE1
MENUITEM MSG_EFF_MODE2, IDM_EFF_MODE2
MENUITEM MSG_EFF_MODE3, IDM_EFF_MODE3
END
END
POPUP MSG_HELPMENU
BEGIN
MENUITEM MSG_HELPABOUT, IDM_ABOUT
END
END

"radioctx" MENU
BEGIN
MENUITEM MSG_BTNPLAY, 1003
MENUITEM MSG_BTNDELETE, 1004
MENUITEM MSG_BTNADD, 1005
MENUITEM MSG_BTNPROP, 1006
END

"plctx" MENU
BEGIN
MENUITEM MSG_BTNPLAY, 1003
MENUITEM MSG_BTNMOVEUP, 1006
MENUITEM MSG_BTNMOVEDOWN, 1007
MENUITEM MSG_BTNDELETE, 1004
MENUITEM MSG_BTNDELETEALL, 1005
MENUITEM MSG_PLTRIM, 1014
POPUP MSG_PLSORT
BEGIN
MENUITEM MSG_PLSORTFILE, 1016
MENUITEM MSG_PLSORTTITLE, 1017
MENUITEM MSG_PLSORTARTIST, 1018
MENUITEM MSG_PLSORTALBUM, 1019
END
MENUITEM MSG_BTNPROP, 1012
END

"i1ctx" MENU
BEGIN
MENUITEM MSG_FI_MODIFYBTN, IDOK
MENUITEM MSG_FI_COPYINFO, 1500
END

IDD_INPUTDLG DIALOG DISCARDABLE 10, 10, 400, 70
CAPTION ""
BEGIN
LTEXT "", 1001, 10, 10, 375, 15
CONTROL "", 1002, "EDIT", WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL, 10, 30, 375, 15
DEFPUSHBUTTON MSG_BTNOK, IDOK, 250, 50, 60, 15
PUSHBUTTON MSG_BTNCANCEL, IDCANCEL, 325, 50, 60, 15
END

IDD_PLAYLIST DIALOG DISCARDABLE 10, 10, 410, 190
CAPTION MSG_PLAYLISTDLG
BEGIN
LTEXT MSG_QUICKFILTER, 0, 10, 10, 75, 15
CONTROL "", 1002, "EDIT", WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL, 90, 10, 310, 15
LTEXT MSG_LBLPLAYLIST, 0, 10, 30, 40, 15
CONTROL "", 1001, "LISTBOX", WS_TABSTOP | WS_BORDER | WS_VSCROLL | LBS_HASSTRINGS | LBS_NOTIFY | LBS_USETABSTOPS, 10, 30, 390, 115
DEFPUSHBUTTON MSG_BTNPLAY, 1003, 10, 150, 70, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON MSG_BTNDELETE, 1004, 90, 150, 70, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON MSG_BTNDELETEALL, 1005, 170, 150, 70, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON MSG_BTNMOVEUP, 1006, 250, 150, 70, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON MSG_BTNMOVEDOWN, 1007, 330, 150, 70, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON MSG_BTNOPEN, 1008, 10, 170, 70, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON MSG_BTNOPENDIR, 1009, 90, 170, 70, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON MSG_BTNPLSAVE, 1010, 170, 170, 70, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON MSG_BTNINDEX, 1011, 250, 170, 70, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON MSG_BTNCLOSE, IDCANCEL, 330, 170, 60, 15, WS_TABSTOP | WS_BORDER
END

IDD_MIDI DIALOG DISCARDABLE 10, 10, 410, 370
CAPTION MSG_MIDIDLG
BEGIN
LTEXT MSG_MIDI_LBLLYRIC, 0, 10, 10, 60, 15
CONTROL "", 1000, "EDIT", WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL | ES_READONLY, 10, 10, 390, 15
#define C(c) \
LTEXT "", 1100+c, 10, 30+20*c, 60, 15 \
CONTROL "", 1200+c, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_DROPDOWNLIST | ES_READONLY, 75, 30+20*c, 115, 15
C(0) C(1) C(2) C(3) C(4) C(5)
C(6) C(7) C(8) C(9) C(10) C(11)
C(12) C(13) C(14) C(15)
#undef C
PUSHBUTTON MSG_BTNCLOSE, IDCANCEL, 175, 350, 60, 15, WS_TABSTOP | WS_BORDER
END

IDD_RADIO DIALOG DISCARDABLE 10, 10, 410, 190
CAPTION MSG_RADIODLG
BEGIN
LTEXT MSG_LBLLANG, 0, 80, 10, 40, 15
CONTROL "", 1008, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_DROPDOWNLIST | CBS_SORT | ES_READONLY, 80, 10, 100, 15
LTEXT MSG_LBLCOUNTRY, 0, 190, 10, 40, 15
CONTROL "", 1010, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_DROPDOWNLIST | CBS_SORT | ES_READONLY, 190, 10, 100, 15
LTEXT MSG_LBLGENRE, 0, 300, 10, 40, 15
CONTROL "", 1009, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_DROPDOWNLIST | CBS_SORT | ES_READONLY, 300, 10, 100, 15
LTEXT MSG_QUICKFILTER, 0, 10, 10, 75, 15
CONTROL "", 1002, "EDIT", WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL, 90, 30, 310, 15
LTEXT MSG_LBLRADIO, 0, 10, 50, 40, 15
CONTROL "", 1001, "LISTBOX", WS_TABSTOP | WS_BORDER | WS_VSCROLL | LBS_HASSTRINGS | LBS_NOTIFY | LBS_USETABSTOPS | LBS_SORT, 10, 50, 390, 95
DEFPUSHBUTTON MSG_BTNPLAY, 1003, 10, 150, 70, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON MSG_BTNDELETE, 1004, 90, 150, 70, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON MSG_BTNADD, 1005, 170, 150, 70, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON MSG_BTNPROP, 1006, 250, 150, 70, 15, WS_TABSTOP | WS_BORDER
PUSHBUTTON MSG_BTNCLOSE, IDCANCEL, 330, 150, 70, 15, WS_TABSTOP | WS_BORDER
END

IDD_RADIOPROPDLG DIALOG DISCARDABLE 10, 10, 415, 130
CAPTION MSG_RADIOPROPS
BEGIN
LTEXT MSG_RADIO_NAME, 0, 10, 10, 80, 15
CONTROL "", 1001, "EDIT", WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL, 100, 10, 100, 15
LTEXT MSG_RADIO_GENRE, 0, 210, 10, 80, 15
CONTROL "", 1003, "EDIT", WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL, 300, 10, 100, 15
LTEXT MSG_RADIO_LANG, 0, 10, 30, 80, 15
CONTROL "", 1005, "EDIT", WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL, 100, 30, 100, 15
LTEXT MSG_RADIO_COUNTRY, 0, 210, 30, 80, 15
CONTROL "", 1004, "EDIT", WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL, 300, 30, 100, 15
LTEXT MSG_RADIO_DESC, 0, 10, 50, 80, 15
CONTROL "", 1002, "EDIT", WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL, 100, 50, 300, 15
LTEXT MSG_RADIO_URLS, 0, 10, 70, 80, 15
CONTROL "", 1006, "EDIT", WS_TABSTOP | WS_BORDER | ES_MULTILINE | ES_WANTRETURN | ES_AUTOVSCROLL | ES_AUTOHSCROLL, 100, 70, 300, 55
DEFPUSHBUTTON MSG_BTNOK, IDOK, 250, 110, 60, 15
PUSHBUTTON MSG_BTNCANCEL, IDCANCEL, 325, 110, 60, 15
END

IDD_INFODLG DIALOG DISCARDABLE 10, 10, 400, 150
CAPTION MSG_FILEINFORMATION
BEGIN
CONTROL "", 1001, "LISTBOX", WS_TABSTOP | WS_BORDER | WS_VSCROLL | LBS_HASSTRINGS | LBS_NOTIFY | LBS_USETABSTOPS, 10, 10, 375, 95
DEFPUSHBUTTON MSG_FI_MODIFYBTN, IDOK, 70, 130, 60, 15
PUSHBUTTON MSG_FI_UPDATEBTN, 1002, 170, 130, 60, 15
PUSHBUTTON MSG_BTNCLOSE, IDCANCEL, 270, 130, 60, 15
END


IDD_PROGRESSDLG DIALOG DISCARDABLE 10, 10, 300, 70
CAPTION ""
BEGIN
CONTROL "", 1002, PROGRESS_CLASS, WS_BORDER | PBS_SMOOTH, 10, 10, 280, 15
LTEXT "", 1001, 10, 30, 280, 15
DEFPUSHBUTTON MSG_BTNCANCEL, IDCANCEL, 110, 50, 80, 15
END

IDD_OPTIONS_DEVICES DIALOG DISCARDABLE 10, 10, 400, 110
CAPTION MSG_OPTIONS_DEVICES
STYLE DS_3DLOOK
BEGIN
LTEXT MSG_OPTD_OUTPUT, 0, 10, 10, 100, 15
CONTROL "", 1001, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_DROPDOWNLIST | ES_READONLY, 120, 10, 270, 15
LTEXT MSG_OPTD_PREVIEW, 0, 10, 30, 100, 15
CONTROL "", 1002, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_DROPDOWNLIST | ES_READONLY, 120, 30, 270, 15
LTEXT MSG_OPTD_INPUT, 0, 10, 50, 100, 15
CONTROL "", 1003, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_DROPDOWNLIST | ES_READONLY, 120, 50, 270, 15
LTEXT MSG_OPTD_FEEDBACK, 0, 10, 70, 100, 15
CONTROL "", 1004, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_DROPDOWNLIST | ES_READONLY, 120, 70, 270, 15
LTEXT MSG_OPTD_JINGLE, 0, 10, 90, 100, 15
CONTROL "", 1005, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_DROPDOWNLIST | ES_READONLY, 120, 90, 270, 15
END

IDD_OPTIONS_INTEGRATION  DIALOG DISCARDABLE 10, 10, 400, 170
CAPTION MSG_OPT_INTEGRATION
STYLE DS_3DLOOK
BEGIN
AUTOCHECKBOX MSG_OPT_OPENPREVIEW, 1006, 10, 10, 380, 15, WS_TABSTOP
AUTOCHECKBOX MSG_OPT_FOCUSONOPEN, 1005, 10, 30, 380, 15, WS_TABSTOP
LTEXT MSG_OPT_ACTIONONOPEN, 0, 10, 50, 380, 15
AUTORADIOBUTTON MSG_OPT_CLEARONOPEN, 1003, 10, 70, 380, 15, WS_TABSTOP | WS_GROUP 
AUTORADIOBUTTON MSG_OPT_APPENDONOPEN, 1002, 10, 90, 380, 15, WS_TABSTOP
AUTORADIOBUTTON MSG_OPT_LISTENAPPENDONOPEN, 1004, 10, 110, 380, 15, WS_TABSTOP
AUTOCHECKBOX MSG_OPT_REUSE_INSTANCES, 1001, 10, 130, 380, 15, BS_NOTIFY | WS_TABSTOP |  WS_GROUP
END

IDD_OPTIONS_CASTING   DIALOG DISCARDABLE 10, 10, 400, 90
CAPTION MSG_OPT_CASTING
STYLE DS_3DLOOK
BEGIN
AUTOCHECKBOX MSG_OPTC_NOFEEDBACK, 1002, 10, 10, 380, 15, WS_TABSTOP
AUTOCHECKBOX MSG_OPTC_AUTOTITLE, 1003, 10, 30, 380, 15, WS_TABSTOP
AUTOCHECKBOX MSG_OPTC_USEJINGLES, 1001, 10, 50, 380, 15, WS_TABSTOP
END

IDD_OPTIONS_ADVANCED   DIALOG DISCARDABLE 10, 10, 400, 110
CAPTION MSG_OPT_ADVANCED
STYLE DS_3DLOOK
BEGIN
AUTOCHECKBOX MSG_OPTX_SCRIPTING, 1001, 10, 10, 190, 15, WS_TABSTOP
AUTOCHECKBOX MSG_OPTX_WEBSERV, 1002, 10, 30, 190, 15, WS_TABSTOP
LTEXT MSG_OPTX_SERVPORT, 0, 10, 50, 100, 15
CONTROL "", 1003, "EDIT", WS_TABSTOP | WS_BORDER | ES_NUMBER, 115, 50, 80, 15
END

IDD_OPTIONS_GENERAL   DIALOG DISCARDABLE 10, 10, 400, 70
CAPTION MSG_OPT_GENERAL
STYLE DS_3DLOOK
BEGIN
AUTOCHECKBOX MSG_OPTG_RELOADLAST, 1001, 10, 10, 380, 15, WS_TABSTOP
AUTOCHECKBOX MSG_OPTG_CHECKUPDATES, 1002, 10, 30, 380, 15, WS_TABSTOP
END

IDD_CASTDLG DIALOG DISCARDABLE 10, 10, 415, 130
CAPTION MSG_CAST_TITLE
BEGIN
LTEXT MSG_CAST_TYPE, 0, 10, 10, 80, 15
CONTROL "", 1001, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_DROPDOWNLIST | ES_READONLY, 100, 10, 100, 15
LTEXT MSG_CAST_FORMAT, 0, 210, 10, 80, 15
CONTROL "", 1006, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_DROPDOWNLIST | ES_READONLY, 300, 10, 75, 15
PUSHBUTTON "...", 2000, 380, 10, 20, 15
LTEXT MSG_CAST_HOST, 0, 10, 30, 80, 15
CONTROL "", 1002, "EDIT", WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL, 100, 30, 100, 15
LTEXT MSG_CAST_PORT, 0, 210, 30, 80, 15
CONTROL "", 1003, "EDIT", WS_TABSTOP | WS_BORDER | ES_NUMBER, 300, 30, 60, 15
LTEXT MSG_CAST_NAME, 0, 10, 50, 80, 15
CONTROL "", 1004, "EDIT", WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL, 100, 50, 100, 15
LTEXT MSG_CAST_PASSWORD, 0, 210, 50, 80, 15
CONTROL "", 1005, "EDIT", WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL | ES_PASSWORD, 300, 50, 100, 15
LTEXT MSG_CAST_URL, 0, 10, 70, 80, 15
CONTROL "", 1007, "EDIT", WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL, 100, 70, 100, 15
LTEXT MSG_CAST_GENRE, 0, 210, 70, 80, 15
CONTROL "", 1008, "EDIT", WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL, 300, 70, 100, 15
LTEXT MSG_CAST_DESC, 0, 10, 90, 80, 15
CONTROL "", 1009, "EDIT", WS_TABSTOP | WS_BORDER | ES_AUTOHSCROLL, 100, 90, 300, 15
DEFPUSHBUTTON MSG_BTNOK, IDOK, 250, 110, 60, 15
PUSHBUTTON MSG_BTNCANCEL, IDCANCEL, 325, 110, 60, 15
END

IDD_ENCODESAVEDLG DIALOG DISCARDABLE 0, 0, 100, 30
STYLE WS_CHILD | WS_CLIPSIBLINGS | DS_3DLOOK | DS_CONTROL
BEGIN
PUSHBUTTON MSG_ENCODEOPTIONS, 4172, 10, 10, 80, 15
END


VS_VERSION_INFO VERSIONINFO
FILEVERSION     3,2,0,0
PRODUCTVERSION 3,2,0,0
//FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEOS         	VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040C04E4"
        BEGIN
            VALUE "CompanyName", "QuentinC"
            VALUE "FileDescription","6player, le player simple, complet et efficace !"
            VALUE "FileVersion", "3.2"
            VALUE "InternalName", "6player"
            VALUE "LegalCopyright", "Copyright © 2011-2012, QuentinC http://quentinc.net/"
            VALUE "OriginalFilename","6player.exe"
            VALUE "ProductName", "6player"
            VALUE "ProductVersion", "3.2"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x040C, 1252
    END
END
