#include<windows.h>

"dlg1" DIALOG DISCARDABLE 10, 10, 400, 70
CAPTION "Options AAC/MPEG4"
BEGIN
LTEXT "&Qualité : ", 0, 10, 10, 100, 15
CONTROL "", 1001, "COMBOBOX", WS_TABSTOP | WS_BORDER | CBS_DROPDOWN, 120, 10, 270, 15
DEFPUSHBUTTON "&OK", IDOK, 250, 30, 60, 15
PUSHBUTTON "A&nnuler", IDCANCEL, 325, 30, 60, 15
END

